<div [formGroup]="form">
  <h1>{{ title }}</h1>
  <div class="body">
    <div class="imageContainer">
      <div *ngIf="url!=''">
        <img [src]="url" alt="" width="300">
      </div>
      <div *ngIf="shouldBeShown">
        <input type="file" formControlName="image" (change)="upload_image($event)" />
      </div>
    </div>

    <mat-card class="card">
      <mat-card-content class="content">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required />
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mail</mat-label>
          <input matInput formControlName="mail" required />
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Birthday</mat-label>
          <input matInput formControlName="dateNaissance" required />
          <mat-icon matSuffix>cake</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Satisfaction</mat-label>
          <input matInput formControlName="Satisfaction" />
          <mat-icon matSuffix>tag_faces</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>discount</mat-label>
          <input matInput formControlName="discount" />
          <mat-icon matSuffix>cake</mat-icon>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions class="footer">
        <button mat-raised-button color="primary" *ngIf="!shouldBeShown" (click)="update()">
          Update
        </button>
        <button mat-raised-button color="primary" *ngIf="shouldBeShown" (click)="add()">
          Add
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
